.file-system-box li.folder span.open{
    position: absolute;
    top: 4px;
    left: -30px;
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(open.svg);
    background-repeat: no-repeat;
}

.file-system-box li.folder span.close{
    position: absolute;
    top: 4px;
    left: -30px;
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(close.svg);
    background-repeat: no-repeat;
}

.file-system-box li {
    position: relative;
    list-style-type: none; /* Убираем маркеры */
}
.file-system-box ul {
    padding-left: 0; /* Сдвигаем список влево */
}

.file-system-box li.folder {
    padding: 0px 0 0 10px;
}

.file-system-box li.folder, .file-system-box li.file {
    padding-left: 10px;
    cursor: pointer;
}

.file-system-box li.folder:after {
    position: absolute;
    top: 4px;
    left: -10px;
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(folder.svg);
    background-repeat: no-repeat;
}

.file-system-box li.file:after {
    position: absolute;
    top: 4px;
    left: -10px;
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(file.svg);
    background-repeat: no-repeat;
}

.file-system .folder{
    background-image: url(file.svg);
    background-repeat: no-repeat;
}